/*CSS*/
html,body{height: 100%;}
body{
	background:url('../images/bg.png'); 
	font-family: Arial;
	font-size:0.9rem;
	font-weight: bold;
}
label{display:block; padding: 5px;}
.form2{
	background: #fff;
	width: 500px;
	height: 450px;
	margin: auto;
	margin-top:120px;
	border-radius: 5px;
}
.hed{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background: #282830;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 18px;
	margin-bottom: 20px;
}
.input,.button{
	width: 400px;
	margin:auto;
}
.input input{
	width: 400px;
	padding: 13px;
	border:#dcdcdc 1px solid;
	display: block;
	box-sizing: border-box;
}
.button, .button input{
	width: 320px;
}
.button input{
	background: #1dabb8;
	color: #fff;
	font-weight: bold;
	border-radius: 4px;
}
.button{
	margin-top: 35px;
}